<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350701395689-ife7k8246s59u3e38eo1dqrnhbh7bh88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350701395689-ife7k8246s59u3e38eo1dqrnhbh7bh88</string>
	<key>API_KEY</key>
	<string>AIzaSyBj4wKZ6XqS9THQhEzjCHQNoB0vhI2X7T4</string>
	<key>GCM_SENDER_ID</key>
	<string>350701395689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.front</string>
	<key>PROJECT_ID</key>
	<string>chat-7d5c1</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-7d5c1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350701395689:ios:9dd5791bdb7f3391b41a78</string>
</dict>
</plist>